*{
  box-sizing: border-box;
}
body{
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  flex-direction: column;

}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.app__content{
  display: flex;
  min-width: 100%;
}
.content__wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 70px 10px;
}
